@page
@model WebClient.Pages.Cinema.MyCoupon_GiftCardModel
@{
}
<section class="after-head d-flex section-text-white position-relative">
    <div class="d-background bg-black-80"></div>
    <div class="top-block top-inner container">
        <h1 class="section-title">My Coupons & GiftCards</h1>
        <div class="page-breadcrumbs">
            <a class="content-link" asp-page="./Index">Home</a>
            <span class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
            <span>MyCoupons&GiftCards</span>
        </div>
    </div>
</section>
<div>
    <h5>Your Coupons</h5>
    <ul id="couponList">
        @foreach (var coupon in Model.yCoupons)
        {
            <li>@coupon.Code - Discount: @coupon.Discount - @coupon.ExpirationDate?.ToString("dd/MM/yyyy")</li>
        }
    </ul>
</div>

<div>
    <h5>Your Gift Cards</h5>
    <ul id="giftCardList">
        @foreach (var giftCard in Model.yGiftCards)
        {
            <li>@giftCard.Code - Balance: @giftCard.Balance - @giftCard.ExpirationDate?.ToString("dd/MM/yyyy")</li>
        }
    </ul>
</div>

<div>
    <h5>Redeem Coupon</h5>
    <form id="redeemCouponForm">
        <div class="form-group">
            <label>Coupon Code</label>
            <input type="text" id="couponCode" asp-for="CouponCode" class="form-control" style="width: 200px" />
        </div>
        <button type="submit" class="btn btn-primary">Redeem</button>
    </form>
</div>

<div>
    <h5>Get New Gift Card</h5>
    <form id="getGiftCardForm">
        <div class="form-group">
            <label for="giftCardId">Select Gift Card</label>
            <select id="giftCardId" asp-for="GiftCardId" class="form-control" style="width:200px">
                <option value="">Select a gift card</option>
                @foreach (var giftCard in Model.AvailableGiftCards)
                {
                    <option value="@giftCard.GiftCardId">@giftCard.Code</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Get Gift Card</button>
    </form>
</div>